
  @import url('https://fonts.googleapis.com/css2?family=Kanit&family=Nunito:ital,wght@0,500;0,600;1,500&family=Poppins:wght@200&family=Quicksand:wght@400;700&display=swap');
@font-face {
font-family: "yekan";
src: local("yekan"),
 url('./fonts/Yekan.ttf') format("truetype");
}
@font-face {
    font-family:"far";
    src: local("far"),
 url('./fonts/Far_Casablanca.ttf') format("truetype");
}
.swiper-button-next{
width:7px;
height:6px
}
@tailwind base;
@tailwind components;
@tailwind utilities;
